* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
}

    /* background-image: url(Elsa.png); */
/* background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%; */
/* background: radial-gradient(circle at 10% 20%, rgb(255, 252, 214) 0%, rgba(255, 102, 102, 0.44) 90%); */

